## DAY 22

#### 1. 0 떼기

- 문제 설명: 정수로 이루어진 문자열 n_str이 주어질 때, n_str의 가장 왼쪽에 처음으로 등장하는 0들을 뗀 문자열을 return하도록 solution 함수를 완성해주세요.

In [16]:
def solution(n_str):
    while n_str[0] == "0":
        n_str = n_str[1:]
    return n_str

In [24]:
solution("0010")

'10'

In [26]:
solution("854020")

'854020'

In [22]:
def solution(n_str):
    return n_str.lstrip('0')

#### 2. 두 수의 합

- 문제 설명: 0 이상의 두 정수가 문자열 a, b로 주어질 때, a + b의 값을 문자열로 return 하는 solution 함수를 작성해 주세요.

In [48]:
def solution(a, b):
    list = [a, b]
    return str(eval('+'.join(list)))

In [58]:
solution("582", "734")

'1316'

In [60]:
solution("0", "0")

'0'

In [56]:
def solution(a, b):
    return str(int(a) + int(b))

#### 3. 문자열로 변환

- 문제 설명: 정수 n이 주어질 때, n을 문자열로 변환하여 return하도록 solution 함수를 완성해주세요.

In [64]:
def solution(n):
    return str(n)

In [66]:
solution(123)

'123'

#### 4. 배열의 원소 삭제하기

- 문제 설명: 정수 배열 arr과 delete_list가 있습니다. arr의 원소 중 delete_list의 원소를 모두 삭제하고 남은 원소들은 기존의 arr에 있던 순서를 유지한 배열을 return 하는 solution 함수를 작성해 주세요.

In [142]:
def solution(arr, delete_list):
    for i in delete_list:
        if i in arr:
            arr.remove(i)
    return arr

In [148]:
solution([293, 1000, 395, 678, 94], [94, 777, 104, 1000, 1, 12])

[293, 395, 678]

In [146]:
def soluion(arr, delete_list):
    return [i for i in arr if i not in delete_list]

#### 5. 부분 문자열인지 확인하기

- 문제 설명: 부분 문자열이란 문자열에서 연속된 일부분에 해당하는 문자열을 의미합니다. 예를 들어, 문자열 "ana", "ban", "anana", "banana", "n"는 모두 문자열 "banana"의 부분 문자열이지만, "aaa", "bnana", "wxyz"는 모두 "banana"의 부분 문자열이 아닙니다.

문자열 my_string과 target이 매개변수로 주어질 때, target이 문자열 my_string의 부분 문자열이라면 1을, 아니라면 0을 return 하는 solution 함수를 작성해 주세요.

In [88]:
def solution(my_string, target):
    if target in my_string:
        return 1
    return 0

In [96]:
solution("banana", "ana")

1

In [98]:
solution("banana", "wxyz")

0

In [94]:
# 더 간단하게
def solution(my_string, target):
    return int(target in my_string)