## DAY 5

#### 1. 코드 처리하기

- 문제 설명: 문자열 code가 주어집니다.
code를 앞에서부터 읽으면서 만약 문자가 "1"이면 mode를 바꿉니다. mode에 따라 code를 읽어가면서 문자열 ret을 만들어냅니다.

mode는 0과 1이 있으며, idx를 0 부터 code의 길이 - 1 까지 1씩 키워나가면서 code[idx]의 값에 따라 다음과 같이 행동합니다.

mode가 0일 때
code[idx]가 "1"이 아니면 idx가 짝수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 0에서 1로 바꿉니다.
mode가 1일 때
code[idx]가 "1"이 아니면 idx가 홀수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 1에서 0으로 바꿉니다.
문자열 code를 통해 만들어진 문자열 ret를 return 하는 solution 함수를 완성해 주세요.

단, 시작할 때 mode는 0이며, return 하려는 ret가 만약 빈 문자열이라면 대신 "EMPTY"를 return 합니다.

In [11]:
def solution(code):
    answer = ''
    mode = 0

    for idx in range(0, len(code)):
        if mode == 0:
            if code[idx] == "1":
                mode = 1
            elif idx % 2 == 0:
                answer += code[idx]
            else:
                continue
        else:
            if code[idx] == "1":
                mode = 0
            elif idx % 2 == 1:
                answer += code[idx]
            else:
                continue

    if answer == '':
        answer = "EMPTY"

    return answer

In [13]:
solution("abc1abc1abc")

'acbac'

In [19]:
# 한줄 코드
def solution(code):
    return "".join(code.split("1"))[::2] or "EMPTY"

# code.split("1"): "1"을 기준으로 code 나누기
# "".join(code.split("1") -> "1"이 없는 문자열이 만들어짐
# 짝수의 인덱스만 출력 "1"을 제거해 mode의 값도 고려했음

In [21]:
solution("abc1abc1abc")

'acbac'

#### 2. 등차수열의 특정한 항만 더하기

- 문제 설명: 두 정수 a, d와 길이가 n인 boolean 배열 included가 주어집니다. 
첫째항이 a, 공차가 d인 등차수열에서 included[i]가 i + 1항을 의미할 때, 
이 등차수열의 1항부터 n항까지 included가 true인 항들만 더한 값을 return 하는 solution 함수를 작성해 주세요.

In [80]:
def solution(a, d, included):
    answer = 0
    number = []
    
    for i in range(a, a + d*len(included), d):
        number.append(i)

    for idx in range(0, len(included)):
        if included[idx] == True:
            answer += number[idx]
        else:
            continue

    return answer

In [76]:
solution(3, 4, [True, False, False, True, True])

37

In [78]:
solution(7, 1, [False, False, False, True, False, False])

10

In [86]:
def solution(a, d, included):
    answer = 0

    for i in range(len(included)): # included의 길이만큼 for 문
        answer += (a + d * i ) * int(included[i]) # 각 항의 등차수열을 구한뒤 해당 인덱스의 값이 True일때만 answer에 더해줌

    return answer

In [88]:
solution(3, 4, [True, False, False, True, True])

37

#### 3. 주사위 게임 2

- 문제 설명: 1부터 6까지 숫자가 적힌 주사위가 세 개 있습니다. 세 주사위를 굴렸을 때 나온 숫자를 각각 a, b, c라고 했을 때 얻는 점수는 다음과 같습니다.

세 숫자가 모두 다르다면 a + b + c 점을 얻습니다.
세 숫자 중 어느 두 숫자는 같고 나머지 다른 숫자는 다르다면 (a + b + c) × (a2 + b2 + c2 )점을 얻습니다.
세 숫자가 모두 같다면 (a + b + c) × (a2 + b2 + c2 ) × (a3 + b3 + c3 )점을 얻습니다.

세 정수 a, b, c가 매개변수로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.

In [93]:
def solution(a, b, c):
    answer = 0
    
    if (a==b) & (a==c):
        answer = (a+b+c) * (a**2+b**2+c**2) * (a**3+b**3+c**3)
    elif (a==b) or (b==c) or (a==c):
        answer = (a+b+c) * (a**2+b**2+c**2)
    else:
        answer = a+b+c

    return answer

In [95]:
solution(2, 6, 1)

9

In [98]:
solution(5, 3, 3)

473

In [100]:
solution(4, 4, 4)

110592

In [104]:
def solution(a, b, c):
    check = len(set([a,b,c])) # set()를 활용하여 list 속 중복값 없애기 -> len을 사용하여 고유값 계산

    if check == 1: # 3개의 값이 중복됐다면
        return 3*a*3*(a**2)*3*(a**3)
    elif check == 2: # 2개의 값만 중복됐다면
        return (a+b+c)*(a**2+b**2+c**2)
    else: # check = 3 / 다 다른 값이라면
        return (a+b+c)

In [106]:
solution(2, 6, 1)

9

In [108]:
solution(5, 3, 3)

473

In [110]:
solution(4, 4, 4)

110592

#### 4. 원소들의 곱과 합

- 문제 설명: 정수가 담긴 리스트 num_list가 주어질 때, 모든 원소들의 곱이 모든 원소들의 합의 제곱보다 작으면 1을 
크면 0을 return하도록 solution 함수를 완성해주세요.

In [163]:
def solution(num_list):
    list_sum = sum(num_list) ** 2
    list_product = 1

    for i in num_list:
        list_product *= i

    if list_product < list_sum:
        return 1
    else:
        return 0

In [165]:
solution([3,4,5,2,1])

1

In [167]:
solution([5,7,8,3])

0

In [173]:
def solution(num_list):
    s = sum(num_list) ** 2
    m = eval('*'.join([str(n) for n in num_list]))

    return 1 if s>m else 0

In [175]:
solution([3,4,5,2,1])

1

In [177]:
solution([5,7,8,3])

0

#### 5. 이어 붙인 수

- 문제 설명: 정수가 담긴 리스트 num_list가 주어집니다. 
num_list의 홀수만 순서대로 이어 붙인 수와 짝수만 순서대로 이어 붙인 수의 합을 return하도록 solution 함수를 완성해주세요.

In [194]:
def solution(num_list):
    odd= ''
    even= ''
    for i in num_list:
        if i % 2 == 1:
            odd += str(i)
        else:
            even += str(i)

    return eval("+".join([odd, even]))

In [196]:
solution([3,4,5,2,1])

393

In [200]:
solution([5,7,8,3])

581