## DAY 21

#### 1. 뒤에서 5등 위로

- 문제 설명: 정수로 이루어진 리스트 num_list가 주어집니다. num_list에서 가장 작은 5개의 수를 제외한 수들을 오름차순으로 담은 리스트를 return하도록 solution 함수를 완성해주세요.

In [4]:
def solution(num_list):
    return sorted(num_list)[5:]

In [6]:
solution([12, 4, 15, 46, 38, 1, 14, 56, 32, 10])

[15, 32, 38, 46, 56]

#### 2. 전국 대회 선발 고사

- 문제 설명: 0번부터 n - 1번까지 n명의 학생 중 3명을 선발하는 전국 대회 선발 고사를 보았습니다. 등수가 높은 3명을 선발해야 하지만, 개인 사정으로 전국 대회에 참여하지 못하는 학생들이 있어 참여가 가능한 학생 중 등수가 높은 3명을 선발하기로 했습니다.
-
- 
각 학생들의 선발 고사 등수를 담은 정수 배열 rank와 전국 대회 참여 가능 여부가 담긴 boolean 배열 attendance가 매개변수로 주어집니다. 전국 대회에 선발된 학생 번호들을 등수가 높은 순서대로 각각 a, b, c번이라고 할 때 10000 × a + 100 × b + c를 return 하는 solution 함수를 작성해 주세요.

In [46]:
def solution(rank, attendacne):
    answer = []
    idx_list = []
    for idx, bool in enumerate(attendacne):
        if bool:
            answer.append(rank[idx])
    answer = sorted(answer)[:3]

    for i in answer:
        idx_list.append(rank.index(i))
    
    return 10000 * idx_list[0] + 100 * idx_list[1] + idx_list[2]

In [78]:
solution([3, 7, 2, 5, 4, 6, 1], [False, True, True, True, True, False, False])

20403

In [80]:
solution([1, 2, 3], [True, True, True])

102

In [82]:
solution([6, 1, 5, 2, 3, 4], [True, False, True, False, False, True])

50200

In [84]:
def solution(rank, attendance):
    arr = sorted([(x,i)for i, x in enumerate(rank) if attendance[i]]) # 참여하는 학생들의 등수와 인덱스를 등수로 오름차순
    return arr[0][1] * 10000 + arr[1][1] * 100 + arr[2][1]

#### 3. 정수 부분

- 문제 설명: 실수 flo가 매개 변수로 주어질 때, flo의 정수 부분을 return하도록 solution 함수를 완성해주세요.

In [98]:
import math

def solution(flo):
    return math.trunc(flo)
    # return int(flo)

In [100]:
solution(1.42)

1

In [102]:
solution(69.32)

69

#### 4. 문자열 정수의 합

- 문제 설명: 한 자리 정수로 이루어진 문자열 num_str이 주어질 때, 각 자리수의 합을 return하도록 solution 함수를 완성해주세요.

In [106]:
def solution(num_str):
    answer = 0
    for i in num_str:
        answer += int(i)
    return answer

In [122]:
solution("123456789")

45

In [124]:
solution("1000000")

1

In [120]:
def solution(num_str):
    return sum([int(i) for i in num_str])

#### 5. 문자열을 정수로 변환하기

- 문제 설명: 숫자로만 이루어진 문자열 n_str이 주어질 때, n_str을 정수로 변환하여 return하도록 solution 함수를 완성해주세요.

In [128]:
def solution(n_str):
    return int(n_str)

In [130]:
solution("10")

10