## DAY 8

#### 1. 간단한 논리 연산

- 문제 설명: boolean 변수 x1, x2, x3, x4가 매개변수로 주어질 때, 다음의 식의 true/false를 return 하는 solution 함수를 작성해 주세요.

In [9]:
def solution(x1, x2, x3, x4):
    return (x1 or x2) and (x3 or x4)
    # return (x1 | x2) & (x3| x4)

In [5]:
solution(False, True, True, True)

True

In [7]:
solution(True, False, False, False)

False

#### 2. 주사위 게임 3

- 문제 설명: 1부터 6까지 숫자가 적힌 주사위가 네 개 있습니다. 네 주사위를 굴렸을 때 나온 숫자에 따라 다음과 같은 점수를 얻습니다.

네 주사위에서 나온 숫자가 모두 p로 같다면 1111 × p점을 얻습니다.
세 주사위에서 나온 숫자가 p로 같고 나머지 다른 주사위에서 나온 숫자가 q(p ≠ q)라면 (10 × p + q)2 점을 얻습니다.
주사위가 두 개씩 같은 값이 나오고, 나온 숫자를 각각 p, q(p ≠ q)라고 한다면 (p + q) × |p - q|점을 얻습니다.
어느 두 주사위에서 나온 숫자가 p로 같고 나머지 두 주사위에서 나온 숫자가 각각 p와 다른 q, r(q ≠ r)이라면 q × r점을 얻습니다.
네 주사위에 적힌 숫자가 모두 다르다면 나온 숫자 중 가장 작은 숫자 만큼의 점수를 얻습니다.
네 주사위를 굴렸을 때 나온 숫자가 정수 매개변수 a, b, c, d로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.

In [78]:
def solution(a,b,c,d):
    dice = sorted([a,b,c,d]) # 주사위 숫자를 리스트로 정렬
    score = 0
    # 네 숫자가 모두 같은 경우
    if dice[0] == dice[3]:
        score = 1111 * dice[0]
    # 세 숫자만 같을 경우
    elif dice[0] == dice[2] or dice[1] == dice[3]:
        p = dice[1]
        q = dice[0] if dice[0] != p else dice[3]
        score = (10 * p + q)**2
    # 두개씩 같을 경우
    elif dice[0] == dice[1] and dice[2] == dice[3]:
        p = dice[0]
        q = dice[2]
        score = (p+q) * abs(p-q)
    # 두개만 같을 경우
    elif dice[0] == dice[1]:
        score = dice[2] * dice[3]
    elif dice[1] == dice[2]:
        score = dice[0] * dice[3]
    elif dice[2] == dice[3]:
        score = dice[0] * dice[1]

    # 다 다를 경우
    else:
        score = dice[0]

    return score

In [80]:
solution(2,2,2,2)

2222

In [82]:
solution(4,1,4,4)

1681

In [88]:
# 다른 사람의 풀이
def solution(a, b, c, d):
    l = [a,b,c,d]
    c = [l.count(x) for x in l] # 각 숫자들의 중복개수 계산 만약 2,2,2,2 라면 -> [4,4,4,4] 출력, 4,1,4,4 라면 -> [3,1,3,3] 충엳

    if max(c) == 4: # 네 숫자가 다 같을 경우
        return 1111 * a
    elif max(c) == 3: # 세 숫자만 같을 경우
        return (10 * l[c.index(3)] + l[c.index(1)])**2
    elif max(c) == 2: # 두 숫자가 같을 경우
        if min(c) == 1: # 나머지 두 숫자는 다를 경우
            return eval('*'.join([str(l[i]) for i, x in enumerate(c) if x == 1]))
        else: # 나머지 두 숫자도 같을 경우
            return (max(l) + min(l)) * abs(max(l) - min(l))
    else: # 네 숫자가 다 다를 경우
        return min(l)

In [90]:
solution(2,2,2,2)

2222

In [92]:
solution(4,1,4,4)

1681

#### 3. 글자 이어 붙여 문자열 만들기

- 문제 설명: 문자열 my_string과 정수 배열 index_list가 매개변수로 주어집니다. 
my_string의 index_list의 원소들에 해당하는 인덱스의 글자들을 순서대로 이어 붙인 문자열을 return 하는 solution 함수를 작성해 주세요.

In [2]:
def solution(my_string, index_list):
    answer = ''
    for i in index_list:
        answer += my_string[i]
    return answer

In [4]:
solution("cvsgiorszzzmrpaqpe", [16, 6, 5, 3, 12, 14, 11, 11, 17, 12, 7])

'programmers'

In [6]:
solution("zpiaz", 	[1, 2, 0, 0, 3])

'pizza'

In [10]:
def solution(my_string, index_list):
    return ''.join([my_string[idx] for idx in index_list]) 
# index_list의 숫자를 idx에 할당 -> 각 인덱스의 글자를 리스트로 정렬 -> join을 사용하여 결합

In [12]:
solution("cvsgiorszzzmrpaqpe", [16, 6, 5, 3, 12, 14, 11, 11, 17, 12, 7])

'programmers'

In [14]:
solution("zpiaz", 	[1, 2, 0, 0, 3])

'pizza'

#### 4. 9로 나눈 나머지

- 문제 설명: 음이 아닌 정수를 9로 나눈 나머지는 그 정수의 각 자리 숫자의 합을 9로 나눈 나머지와 같은 것이 알려져 있습니다.
이 사실을 이용하여 음이 아닌 정수가 문자열 number로 주어질 때, 이 정수를 9로 나눈 나머지를 return 하는 solution 함수를 작성해주세요.

In [27]:
def solution(number):
    num_sum = 0
    for i in number:
        num_sum += int(i)

    return num_sum % 9

In [29]:
solution("123")

6

In [31]:
solution("78720646226947352489")

2

#### 5. 문자열 여러 번 뒤집기

- 문제 설명: 문자열 my_string과 이차원 정수 배열 queries가 매개변수로 주어집니다. 
queries의 원소는 [s, e] 형태로, my_string의 인덱스 s부터 인덱스 e까지를 뒤집으라는 의미입니다. 
my_string에 queries의 명령을 순서대로 처리한 후의 문자열을 return 하는 solution 함수를 작성해 주세요.

In [74]:
def solution(my_string, queries):
    # 문자열은 불변 객체이기 때문에 인덱스를 통해 직접적으로 바꿀 수 없음 -> 리스트화
    my_string = list(my_string)
    for j, k in queries:
         my_string[j:k+1] = my_string[j:k+1][::-1]  # j부터 k까지를 슬라이싱 후 뒤집기
    return ''.join(my_string)

In [76]:
solution("rermgorpsam", [[2, 3], [0, 7], [5, 9], [6, 10]])

'programmers'